* {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px
  }
  
  #main-container {
    background-color: rgb(179, 169, 152);
    text-align: center;   
    margin: 20px;
    font-size: 30px;
    border: 8px solid grey;
    padding: 8px;
    -webkit-text-stroke: 1px rgb(73, 61, 61);
    -webkit-text-fill-color: rgb(36, 12, 12);
  }
  
  #button-container {
    background-color: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 3px;
    margin: 20px;
  }

  #results-container {
    background-color: none;
    display: grid;
    justify-items: normal;
    padding-left: 5px;
    text-align: center;
    border: 3px;
    margin: 20px;
  }

  #message-container {
    background-color: none;
    display: grid;
    justify-items: normal;
    padding-left: 5px;
    text-align: center;
    border: 3px;
    margin: 20px;
  }