* {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px
  }
  
  #main-container {
    background-color: rgb(214, 165, 67);
    justify-items: center;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    border: 8px solid grey;
    padding: 10px;
    background-image: linear-gradient(to right, green , yellow);
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  
  #button-container {
    background-color: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 3px;
    margin: 20px;
  }

  #results-container {
    background-color: none;
    display: grid;
    justify-items: normal;
    padding-left: 5px;
    text-align: center;
    border: 3px;
    margin: 20px;
  }

  #message-container {
    background-color: none;
    display: grid;
    justify-items: normal;
    padding-left: 5px;
    text-align: center;
    border: 3px;
    margin: 20px;
  }